.banner{
    display: flex;
    width: 80%;
    margin-top:2vw;
    margin-left:10vw;
    margin-right:10vw;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(168, 167, 167));
}
.container{
    padding-left:7% ;
    padding-right:7% ;
    padding-top:4% ;

}
.img{
    width: 70vw;
    height: 400px;
}